// {{ ansible_managed }}

/**
 * The IdoMysqlConnection type implements MySQL support
 * for DB IDO.
 */

object IdoMysqlConnection "ido-mysql" {
  user = "{{ icinga2_master_database_user }}"
  password = "{{ icinga2_master_database_pass }}"
  host = "{{ icinga2_master_database_host }}"
  database = "{{ icinga2_master_database_name }}"
}
