---

- name: Include os specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - '{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml'
    - '{{ ansible_os_family }}.yml'
  tags:
    - 'role::icinga2_web'
    - 'role::icinga2_web:install'
    - 'role::icinga2_web:config'

- name: Include installation tasks
  ansible.builtin.import_tasks: installation.yml
  tags:
    - 'role::icinga2_web'
    - 'role::icinga2_web:install'

- name: Include configuration tasks
  ansible.builtin.import_tasks: configuration.yml
  tags:
    - 'role::icinga2_web'
    - 'role::icinga2_web:config'
