---

- name: Icinga2_web reload icinga2
  ansible.builtin.service:
    name: icinga2
    state: reloaded

- name: Icinga2_web restart grafana-server
  ansible.builtin.service:
    name: grafana-server
    state: restarted
