;{{ ansible_managed }}

[icinga2]
transport = "api"
host = "{{ icinga2_web_api_host }}"
port = "{{ icinga2_web_api_port }}"
username = "{{ icinga2_web_api_user }}"
password = "{{ icinga2_web_api_pass }}"
