[redis1]
host = "{{ icinga2_web_redis_ip_master_1 }}"
password = "{{ vault_icinga2_web_icingadb_redis_pass }}"

[redis2]
host = "{{ icinga2_web_redis_ip_master_2 }}"
password = "{{ vault_icinga2_web_icingadb_redis_pass }}"
