;{{ ansible_managed }}
; Configuration from Icingaweb2 version 2.6.2-1

[Administrators]
users = "admin"
permissions = "*"
groups = "Administrators"

{% for item in icinga2_web_permissions %}
[{{ item.name }}]
{% if item.users is defined %}
users = "{{ item.users | join(',') }}"
{% endif %}
{% if item.groups is defined %}
groups = "{{ item.groups | join(',') }}"
{% endif %}
permissions = "{{ item.permissions | join(',') }}"
{% if item.object_filter is defined %}
monitoring/filter/objects = "{{ item.object_filter }}"
{% endif %}

{% endfor %}
