;{{ ansible_managed }}
; Configuration from Icingaweb2 version 2.6.2-1

[config]
endpoint = "{{ icinga2_web_director_api_host }}"
host = "{{ icinga2_web_director_api_host }}"
port = "{{ icinga2_web_director_api_port }}"
username = "{{ icinga2_web_director_api_user }}"
password = "{{ icinga2_web_director_api_pass }}"
